doctype html
html(lang='es')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='css/screen.css' media='screen' rel='stylesheet' type='text/css')
    link(href='css/vendor.css' rel='stylesheet' type='text/css')
    link(href='css/print.css' media='print' rel='stylesheet' type='text/css')
    link(href='images/favicon.svg' rel='icon')
    title Muebles Conceptuales
    meta(name='description' content='Diseñador de muebles con vida propia, Rodolfo se ha convertido a sí mismo, por su intuición y tesón autodidactos, en un artista originalísimo que sabe que la historia le imprime a los seres, y a los objetos, su verdadera belleza.')
    //
      [if IE] 
      <link href='css/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
      [endif]
   
  body

    mixin menu(sec)

      nav
        each link in links
          unless link.href == sec
            a.scroll(class= link.href.slice(1) + 'Btn', href= link.href) #{link.text}
        span.dot

    main#wrapper

      section#Inicio
        // logo
        .logo(role='banner')
          // img(src='images/rm.svg', width='249', height='59', alt='RM')
          svg#rmlogo(viewBox='0 0 330 77' aria-labelledby='rm' role='img')
            title#rm Rodolfo Morales
            g(fill='none' stroke='#000')
              path(d='m329,60c-11-0-18-7-26-8-8-1-14,0-25-0-11-1-12-9-20-10-7-0-19,7-27,6-8-1-10-18-24-18-14,0-41,23-58,47 0,0-14-7-48-19-34-11-85-28-85-28s47-3 47-10c0-6-59-16-59-16')
              path(d='m14,23-7,17')
          <svg viewBox="0 0 436.8 38.2" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Rodolfo_Morales">
            <path d="M4.3,37.6H0V2.1h12.9c3.3,0,5.8,0.9,7.5,2.7c1.7,1.8,2.6,4.3,2.6,7.5c0,2.9-0.8,5.2-2.3,6.9c-1.5,1.7-3.7,2.7-6.5,3l9,15.3   h-4.8L9.9,22.5H4.3V37.6z M12.8,18.9c1.8,0,3.2-0.4,4.2-1.3c1-0.9,1.5-2.2,1.5-3.8V11c0-1.7-0.5-2.9-1.5-3.8   c-1-0.9-2.4-1.3-4.2-1.3H4.3v13H12.8z" />
            <path id="o" d="M34,36.5c-1.8-1.1-3.2-2.7-4.1-4.8c-1-2.1-1.4-4.5-1.4-7.3c0-2.8,0.5-5.2,1.4-7.3c1-2.1,2.3-3.7,4.1-4.8   c1.8-1.1,3.9-1.7,6.3-1.7s4.5,0.6,6.3,1.7c1.8,1.1,3.2,2.7,4.1,4.8c1,2.1,1.4,4.5,1.4,7.3c0,2.8-0.5,5.2-1.4,7.3   c-1,2.1-2.3,3.7-4.1,4.8c-1.8,1.1-3.9,1.7-6.3,1.7S35.8,37.7,34,36.5z M45.8,32.6c1.4-1.4,2-3.5,2-6.2v-3.8c0-2.7-0.7-4.8-2-6.2   c-1.4-1.4-3.2-2.1-5.5-2.1s-4.2,0.7-5.5,2.1c-1.4,1.4-2,3.5-2,6.2v3.8c0,2.7,0.7,4.8,2,6.2c1.4,1.4,3.2,2.1,5.5,2.1   S44.5,34,45.8,32.6z" />
            <path d="M76.3,33.3h-0.2c-1.7,3.3-4.4,4.9-8.1,4.9c-3.2,0-5.7-1.2-7.5-3.6c-1.8-2.4-2.7-5.8-2.7-10.1c0-4.3,0.9-7.7,2.7-10.1   c1.8-2.4,4.3-3.6,7.5-3.6c3.7,0,6.4,1.6,8.1,4.9h0.2V0h4.1v37.6h-4.1V33.3z M74.3,33.2c1.3-0.9,1.9-2.3,1.9-4v-9.5   c0-1.7-0.6-3-1.9-4c-1.3-0.9-2.9-1.4-4.8-1.4c-2.3,0-4.2,0.7-5.5,2.1s-2,3.3-2,5.7v4.5c0,2.4,0.7,4.3,2,5.7s3.2,2.1,5.5,2.1   C71.5,34.6,73.1,34.1,74.3,33.2z" />
            <use xlink:href="#o" transform="translate(60)" />
            <path id="l" d="M118,34.2h9.1V3.5H118V0h13.2v34.2h9.1v3.5H118V34.2z" />
            <path d="M147.8,34.2h8.8V14.8h-9.4v-3.5h9.4V8.8c0-2.4,0.4-4.2,1.3-5.5c0.9-1.3,2.1-2.2,3.7-2.6s3.8-0.7,6.4-0.7h3.2v3.5H168   c-1.9,0-3.4,0.1-4.3,0.3c-1,0.2-1.7,0.7-2.2,1.4s-0.8,2-0.8,3.6v2.6h10.5v3.5h-10.5v19.3h9.4v3.5h-22.3V34.2z" />
            <use xlink:href="#o" transform="translate(148)" />
            <path d="m 253.6,8.6 h -0.4 l -7.5,18.2 -7.5,-18.2 h -0.4 v 29 h -3.9 V 2.1 h 5.5 l 6.3,15.7 h 0.3 l 6.3,-15.7 h 5.3 v 35.5 h -3.9 v -29 z" />
            <use xlink:href="#o" transform="translate(238)" />
            <path d="M295.6,34.2h7.7V14.8h-7.7v-3.5h11.7V18h0.3c1.3-4.4,4.2-6.6,8.8-6.6h3.7v4.1h-4.9c-2.5,0-4.4,0.7-5.8,2.1   c-1.4,1.4-2.1,3.2-2.1,5.3v11.3h10.2v3.5h-21.9V34.2z" />
            <path d="M346.5,37.6c-2.7,0-4.3-1.4-4.7-4.3h-0.3c-1.2,3.3-3.8,4.9-7.9,4.9c-2.7,0-4.9-0.7-6.6-2.1c-1.6-1.4-2.4-3.4-2.4-5.8   c0-5.1,3.8-7.6,11.3-7.6h5.6V20c0-1.9-0.5-3.3-1.6-4.3c-1.1-1-2.6-1.5-4.6-1.5c-3.2,0-5.5,1.3-7,3.9l-2.7-2   c0.7-1.5,1.9-2.7,3.7-3.8c1.7-1,3.8-1.5,6.4-1.5c3.1,0,5.5,0.8,7.3,2.4c1.8,1.6,2.7,3.7,2.7,6.5v12.6c0,0.5,0.2,0.9,0.5,1.3   c0.4,0.4,0.8,0.5,1.3,0.5h1.8v3.6H346.5z M339.5,33.4c1.4-0.9,2-2.1,2-3.4v-4.3H336c-4.7,0-7,1.3-7,4v1.1c0,1.3,0.5,2.3,1.4,3   s2.3,1.1,4,1.1C336.5,34.8,338.2,34.3,339.5,33.4z" />
            <use xlink:href="#l" transform="translate(238)" />
            <path d="M389.8,36.5c-1.9-1.1-3.3-2.7-4.3-4.8c-1-2.1-1.5-4.5-1.5-7.2c0-2.7,0.5-5.2,1.5-7.2s2.4-3.7,4.2-4.8   c1.8-1.1,3.9-1.7,6.3-1.7c2.3,0,4.3,0.6,6.1,1.7c1.8,1.1,3.1,2.6,4.1,4.5c1,1.9,1.4,4.1,1.4,6.6v1.9h-19.4v1.2   c0,2.3,0.7,4.3,2.2,5.7c1.5,1.5,3.4,2.2,5.8,2.2c1.7,0,3.2-0.4,4.5-1.2c1.3-0.8,2.3-1.9,3-3.4l3,2c-0.8,1.8-2.1,3.3-4,4.4   c-1.8,1.1-4,1.7-6.5,1.7C393.8,38.2,391.6,37.7,389.8,36.5z M392.1,15.2c-1.2,0.7-2.1,1.7-2.8,2.9c-0.7,1.2-1,2.6-1,4.1v0.4h15   v-0.6c0-2.3-0.7-4.2-2-5.6c-1.3-1.4-3.1-2.2-5.3-2.2C394.6,14.1,393.3,14.5,392.1,15.2z" />
            <path d="M413.6,33.1l2.7-2.4c1.3,1.4,2.7,2.4,4.2,3.1c1.5,0.7,3.3,1,5.3,1c2.1,0,3.8-0.4,5.1-1.1c1.3-0.8,1.9-1.9,1.9-3.4   c0-1.3-0.4-2.2-1.2-2.7c-0.8-0.5-1.9-0.9-3.4-1.1l-4.1-0.6c-1.7-0.2-3.1-0.6-4.4-1c-1.3-0.4-2.3-1.1-3.3-2.1   c-0.9-1-1.4-2.4-1.4-4.1c0-2.5,1-4.5,2.9-5.8c1.9-1.3,4.5-2,7.7-2c4.5,0,8,1.4,10.7,4.2l-2.6,2.5c-1.8-2.2-4.6-3.3-8.2-3.3   c-2.1,0-3.7,0.4-4.8,1.1s-1.7,1.7-1.7,3.1c0,1.3,0.4,2.2,1.2,2.7c0.8,0.5,2,0.9,3.4,1.1l4.1,0.6c1.7,0.2,3.2,0.6,4.4,1   c1.3,0.4,2.3,1.1,3.2,2.1c0.9,1,1.3,2.4,1.3,4.1c0,2.6-1,4.6-3,6c-2,1.4-4.7,2.2-8.1,2.2C420.7,38.2,416.6,36.5,413.6,33.1z" />
          </svg>
          h1 Muebles Conceptuales
        
        // imagen principal
        // img#main_image(src='images/silla_aborigen.jpg', width='292', height='550', alt='Silla “Aborigen”')
        img#main_image.lazy(
          width="292"
          height="550"
          alt="Silla “Aborigen”"
          src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20x='0px'%20y='0px'%20width='292px'%20height='550px'%20viewBox='0%200%20292%20550'%3E%20%3Cpath%20fill='%231E1C1B'%20d='M123,348l-21,150h10l27-138l37,3l-18,104h9l20-83l28,131l11-1l-24-149l2-1l-1-11l29-8l6,1l29,134l11-1l-24-132l2-1v-7c17.8-5,33-12,33-12v-3c-22.3,4.8-37,6-37,6s3-32,12.4-106S290,28,290,28h-6c0,0-15,115-20,156s-16,146-16,146l-10,1L266,1h-7l-7,87l-8,1l-26,241l-10-1l34-310h-6l-33,309l-9-1l16-279h-4l-17,278l-47-11l-60,14v3C82,332,101,341,123,348z%20M243,160c0,0-1-1-1-3s2-3,2-3l4-30c0,0,0,11-4,66c-4,56-12,140-12,140h-9L243,160z'/%3E%20%3C/svg%3E"
          data-src="images/silla_aborigen.jpg"
        )
        #main_image_footer
          h4 Silla “Aborigen”
          p
            | Gran Premio<br />
            | Bienal Costarricense<br />
            | de Diseño del Mueble
        
        // boton y mensaje principal
        aside#main_message
          a#GaleriaBtn.no-under.scroll(href='#Galeria')
            #main_box.box
              h3.call Uno ve lo que sabe.
              p.credit Rudolph Arnheim&nbsp;
            svg#main_arrow(width='37' xmlns='http://www.w3.org/2000/svg')
              g#arrow
                line(id='line' x1='18.5' y1='350' x2='18.5' y2='-170')
                rect(id='box' x='.5' y='100.5' width='36' height='36')
                polyline(id='icon' points='23,116 18,121 13,116')

      section#Galeria

        h2 Galeria
        +menu('#Galeria')

        .box_skitter.box_skitter_large
          ul
            each item in galery_data
              li
                picture
                  source(type='image/avif' srcset='gallery/' + item.file + '.avif')
                  img.block(src='gallery/' + item.file + '.jpg' alt= item.name loading='lazy')
                .label_text
                  if item.disp
                    //no hay de otra que poner onclick
                    - var click ='showItemsPopup("#' + item.name.replace(/ /g, '_') + '")'
                    .disp(onclick= click)
                      p DISPONIBLE
                  .desc
                    h3 #{item.name}
                    p 
                      | #{item.mat}
                      br 
                      | #{item.dim}
      
      // Publicaciones
      section#Prensa

        h2 Prensa
        +menu('#Prensa')

        #press_message

        .vertical-boxes.left
        .vertical-boxes.right
        
        #swipe-left
        #swipe-right

        .swiper-container
          .swiper-wrapper
            each imgName, index in images
              .swiper-slide
                a(href='images/press/' + imgName + '.jpg', class='swipebox', title= imgName)
                  img(src='images/press/small/' + imgName + '_p.jpg' alt= imgName loading='lazy')

      section#Acerca

        h2 Rodolfo Morales
        +menu('#Acerca')

        .logo.sobre-gris
          // img(src='images/rm.svg', width='249', height='59', alt='RM')
          svg#secc(width="249" height="59")
            use(xlink:href='#rmlogo')
          h1 Rodolfo Morales
          h2 MUEBLES &nbsp;CONCEPTUALES

        .body
          each quote in quotes
            p #{quote.text}
            p.credit #{quote.autor}

      section#Exposiciones

        h2 Exposiciones
        +menu('#Exposiciones')

        .body
          #expoBody
            each entry in expoText
              .table
                .caption #{entry.year}
                .description
                  each evnt in entry.events
                    p !{evnt}

      section#Contacto

        h2 Contacto
        +menu('#Contacto')
        #ContactForm(role='form')
          form.cmxform(action='contact-form.php', method='POST')
            input#sesion(name='sesion', type='hidden')
            .form
              h1 Contáctenos :
              label(for='name')
                span Nombre
                input#name.input_text(name='name', type='text', minlength='2', required)
              label(for='email')
                span E-mail
                input#email.input_text(name='email', type='email', required)
              label
                span Asunto
                input#subject.input_text(name='subject', type='text')
              label(for="message")
                span Mensaje
                textarea#message.message(name='message', required)
              input.button(value='Enviar', type='submit')

        .icons(role='contentinfo')
          .icon
            img(src='images/facebook.gif', alt='facebook')
          .icon
            img(src='images/twitter.gif', alt='twitter')
          .icon
            img(src='images/phone.gif', alt='Telefonos')
            p TEL 2221 1210
            p FAX 2221 6413
          .icon
            img(src='images/location.gif', alt='Dirección')
            p Calle 7, avenidas 12 y 14.
            p San Jose, Paseo de los Estudiantes del BCR 100 mts oeste y 50 mts Sur.
    
    include ./disponibles

    script(src='js/vendor.js')
    script(src='js/main.min.js')
