doctype html

head
  meta(charset='utf-8')
  link(href='css/screen.css' media='screen, projection' rel='stylesheet' type='text/css')
  link(href='css/vendor.css' rel='stylesheet' type='text/css')
  link(href='css/print.css' media='print' rel='stylesheet' type='text/css')
  link(href='images/favicon.svg' rel='icon')
  title Muebles Conceptuales
  meta(name='description' content='Diseñador de muebles con vida propia, Rodolfo se ha convertido a sí mismo, por su intuición y tesón autodidactos, en un artista originalísimo que sabe que la historia le imprime a los seres, y a los objetos, su verdadera belleza.')
  //
    [if IE] 
    <link href='css/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
    [endif]
 
body

  mixin menu(sec)

    .nav
      each link in links
        unless link.href == sec
          a.scroll(id= link.href.slice(1) + 'Btn', href= link.href) #{link.text}
      span.dot

  #wrapper

    #Inicio.section
      // logo
      .logo
        img(src='images/rm.svg', width='249', height='59', alt='RM')
        h2 Rodolfo Morales
        h3 MUEBLES &nbsp;CONCEPTUALES
      
      // imagen principal
      img#main_image(src='images/silla_aborigen.jpg', width='292', height='550', alt='Silla “Aborigen”')
      #main_image_footer
        h4 Silla “Aborigen”
        p
          | Gran Premio<br />
          | Bienal Costarricense<br />
          | de Diseño del Mueble
      
      // boton y mensaje principal
      #main_message
        a#GaleriaBtn.no-under.scroll(href='#Galeria')
          #main_box.box
            h1.call Uno ve lo que sabe.
            p.credit Rudolph Arnheim&nbsp;
          svg#main_arrow(width='37' height='281' viewbox='0 0 37 282' xmlns='http://www.w3.org/2000/svg')
            g#arrow
              line(id='line' x1='18.5' y1='300' x2='18.5' y2='-170')
              rect(id='box' x='.5' y='100.5' width='36' height='36')
              polyline(id='icon' points='23,116 18,121 13,116')

    #Galeria.section

      +menu('#Galeria')

      .box_skitter.box_skitter_large
        ul
          each item in galery_data
            li
              picture
                source(type='image/avif' srcset='gallery/' + item.file + '.avif')
                img.block(src='gallery/' + item.file + '.jpg' alt= item.name loading='lazy')
              .label_text
                if item.disp
                  //no hay de otra que poner onclick
                  - var click ='showItemsPopup("#' + item.name.replace(/ /g, '_') + '")'
                  .disp(onclick= click)
                    p DISPONIBLE
                .desc
                  h3 #{item.name}
                  p 
                    | #{item.mat}
                    br 
                    | #{item.dim}
    
    // Publicaciones
    #Prensa.section

      +menu('#Prensa')

      #press_message
        h1 Prensa

      .vertical-boxes.left
      .vertical-boxes.right
      
      #swipe-left
      #swipe-right

      .swiper-container
        .swiper-wrapper
          each imgName, index in images
            .swiper-slide
              a(href='images/press/' + imgName + '.jpg', class='swipebox', title= imgName)
                img(src='images/press/small/' + imgName + '_p.jpg' alt= imgName loading='lazy')

    #Acerca.section

      +menu('#Acerca')

      .logo.sobre-gris
        img(src='images/rm.svg', width='249', height='59', alt='RM')
        h2 Rodolfo Morales
        h3 MUEBLES &nbsp;CONCEPTUALES

      .body
        each quote in quotes
          p #{quote.text}
          p.credit #{quote.autor}

    #Exposiciones.section

      +menu('#Exposiciones')

      .body
        h1 Exposiciones
        #expoBody
          each entry in expoText
            .table
              .caption #{entry.year}
              .description
                each evnt in entry.events
                  p !{evnt}

    #Contacto.section

      +menu('#Contacto')

      form#contactForm.cmxform(action='contact-form.php', method='POST')
        input#sesion(name='sesion', type='hidden')
        .form
          h1 Contáctenos :
          label(for='name')
            span Nombre
            input#name.input_text(name='name', type='text', minlength='2', required)
            input#last(name='last', type='text')
          label(for='email')
            span E-mail
            input#email.input_text(name='email', type='email', required)
          label
            span Asunto
            input#subject.input_text(name='subject', type='text')
          label(for="message")
            span Mensaje
            textarea#message.message(name='message', required)
            input.button(value='Enviar', type='submit')

      .icons
        .icon
          img(src='images/facebook.gif', alt='facebook')
        .icon
          img(src='images/twitter.gif', alt='twitter')
        .icon
          img(src='images/phone.gif', alt='Telefonos')
          p TEL 2221 1210
          p FAX 2221 6413
        .icon
          img(src='images/location.gif', alt='Dirección')
          p Calle 7, avenidas 12 y 14.
          p San Jose, Paseo de los Estudiantes del BCR 100 mts oeste y 50 mts Sur.

  #Disponibles
    .b-close
    #content
      each item in galery_data
        if item.disp
          -var itemId = item.name.replace(/ /g, '_')
          div.table(id=itemId)
            .pic
              img.thumb(src='gallery/' + item.file)
            .desc
              h3 #{item.name}
              p #{item.mat}
              p #{item.dim}
              p.price Valor $#{item.price}
      
  script(type='text/javascript' src='js/vendor.js')
  script(type='text/javascript' src='js/main.js')
