!!! 5
html

  head
    meta(charset='utf-8')
    link(href='css/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(href="css/skitter.styles.css", type="text/css", media="all", rel="stylesheet")
    link(href='css/print.css', media='print', rel='stylesheet', type='text/css')
    link(href='css/swiper.css', rel='stylesheet', type='text/css')
    link(href='css/swipebox.css', rel='stylesheet', type='text/css')
    link(href='css/jquery.omniwindow.css', rel='stylesheet', type='text/css')
    link(href='css/perfect-scrollbar.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='font/corbert.css', type='text/css', charset='utf-8')  
    link(rel='stylesheet', href='font/corbert.css', type='text/css', charset='utf-8')  
    // [if IE] 
      <link href='/stylesheets/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
      [endif]

  body

    mixin menu(sec)
      - var links = [{href:'#Inicio', text:'Inicio'}, {href:'#Galeria', text:'Galería'}, {href:'#Prensa', text:'Prensa'}, {href:'#Acerca', text:'Acerca de'}, {href:'#Exposiciones', text:'Exposiciones'}, {href:'#Contacto', text:'Contacto'}]
      .nav
        each link in links
          unless link.href == sec
            a.scroll(id= link.href.slice(1) + 'Btn', href= link.href) #{link.text}
        span.dot

    #wrapper

      #Inicio.section
        // logo
        .logo
          p MUEBLES CONCEPTUALES
          img(src='img/rm.svg', width='249', height='59', alt='RM')
          p.big RODOLFO MORALES
        
        // imagen principal
        img#main_image(src='img/silla_aborigen.jpg', width='292', height='550', alt='Silla “Aborigen”')
        #main_image_footer
          p.bold Silla “Aborigen”
          p.desc
            | Gran Premio<br />
            | Bienal Costarricense<br />
            | de Diseño del Mueble
        
        // boton y mensaje principal
        #main_message
          a#GaleriaBtn.no-under.scroll(href='#Galeria')
            #main_box.box
              h1.call Uno ve lo que sabe.
              p.credit Rudolph Arnheim
            object(id='main_arrow', data='img/main_arrow.svg', type='image/svg+xml', width='37', height='281', onclick="hola()")
              img(src='img/main_arrow.gif', alt='')

      #Galeria.section

        +menu('#Galeria')

        - var galery_data = [{"file":"reventazon.jpg","name":"Escritorio","mat":"Materiales: Laurel de raleo","dim":"Dimensiones aproximadas: Largo 168cm, ancho 67cm, alto 76cm.","disp":true,"price":1000},{"file":"pejibaye.jpg","name":"Lámparas de Cañon","mat":"Materiales: Cañon de pejibaye","dim":"","disp":false},{"file":"durmiente1.jpg","name":"Cerca 2","mat":"Materiales: Rescate de poste de cerca.","dim":"Dimensiones aproximadas: Largo 88cm, ancho 11cm, alto 36cm.","disp":true,"price":1000},{"file":"durmiente2.jpg","name":"Cerca 1","mat":"Materiales: Rescate de poste de cerca.","dim":"Dimensiones aproximadas: Largo 100cm, ancho 11cm, alto 36cm.","disp":true,"price":1000},{"file":"durmiente3.jpg","name":"Durmiente","mat":"Materiales: Rescate de durmiente ferroviario.","dim":"Dimensiones aproximadas: Largo 155cm, ancho 16cm, alto 36cm.","disp":true,"price":1000},{"file":"grietas.jpg","name":"Banca 1","mat":"Materiales: Caobilla","dim":"Dimensiones aproximadas: Largo 186cm, ancho 42cm, alto 63cm.","disp":true,"price":1000},{"file":"grietas2.jpg","name":"Banca 2","mat":"Materiales: Caobilla","dim":"Dimensiones aproximadas: Largo 211cm, ancho 36cm, alto 44cm.","disp":true,"price":1000},{"file":"laguna_azul.jpg","name":"Mesa de centro azul marino","mat":"Materiales: Melina y resina.","dim":"Dimensiones aproximadas: Largo 180cm, ancho 70cm, alto 42cm.","disp":true,"price":1000},{"file":"reposo.jpg","name":"Reposo","mat":"Materiales: Madera rescatada del mar, patas de hierro.","dim":"Dimensiones aproximadas: Largo 250cm.","disp":false},{"file":"entranas.jpg","name":"Entrañas","mat":"Materiales: Sobre de cedro de árbol caído, patas de Gravilia de cultivo, vidrio temperado.","dim":"Dimensiones aproximadas: Largo 130cm, ancho 65cm, alto 43cm.","disp":false},{"file":"nance.jpg","name":"Nance","mat":"Materiales: Madera de nance de árbol caído, patas de Melina de plantación.","dim":"Diámetro aproximado 100cm.","disp":false},{"file":"sasha.jpg","name":"Sasha","mat":"Materiales: Cuerpo en melina de plantación, patas y frente de gavetas en guanacaste.","dim":"Dimensiones aproximadas: Largo 50cm, ancho 30cm, alto 170cm.","disp":false},{"file":"torres.jpg","name":"Torres","mat":"Materiales: Melina de plantación, detalles en pejibaye.","dim":"Dimensiones aproximadas: Largo 46cm, ancho 30cm, alto 196cm.","disp":false},{"file":"departiendo.jpg","name":"Departiendo","mat":"Materiales: Sobre de cedro de árbol caído, base de melina de cultivo.","dim":"Dimensiones aproximadas: Alto 110cm, diámetro 75cm.","disp":false},{"file":"mil_pies.jpg","name":"Mil Pies","mat":"Materiales: Madera de gravilia de plantación pintada, vidrio temperado.","dim":"Dimensiones aproximadas: Largo 140cm, ancho 80cm, alto 60cm.","disp":false},{"file":"cien_pies.jpg","name":"Cien Pies","mat":"Materiales: Sobre de guanacaste, patas de gravilia de plantación con tinta.","dim":"Dimensiones aproximadas: Largo: 225cm, ancho 45cm, alto 99cm.","disp":false},{"file":"raices.jpg","name":"Raíces","mat":"Materiales: Madera rescatada del mar, patas de guanacaste, vidrio temperado.","dim":"Dimensiones aproximadas: Diámetro 80cm, alto 75cm.","disp":false},{"file":"trapiche.jpg","name":"Trapiche","mat":"Materiales: Pieza rescatada de trapiche manual y vidrio temperado.","dim":"Dimensiones aproximadas: Largo 163cm, ancho 82cm, alto 35cm.","disp":false},{"file":"cocobolo.jpg","name":"Cocobolo","mat":"Materiales: Troncos de cocobolo rescatados, vidrio temperado.","dim":"Dimensiones aproximadas: Largo 210cm, ancho 110cm, alto 75cm.","disp":false}]

        .box_skitter.box_skitter_large
          ul
            each item in galery_data
              li
                //a(href= itemLink)
                img.block(src="gallery/" + item.file)
                .label_text
                  if item.disp
                    //no hay de otra que poner onclick
                    - var click ='showItemsPopup("#' + item.name.replace(/ /g, '_') + '")'
                    .disp(onclick= click)
                      p DISPONIBLE DE INMEDIATO
                  .desc
                    h3 #{item.name}
                    p 
                      | #{item.mat}
                      br 
                      | #{item.dim}
      
      // Publicaciones
      #Prensa.section

        +menu('#Prensa')

        #press_message
          h1 Prensa

        - var images = ['2008-Marzo-2_La-Nacion-a','2008-Marzo-2_La-Nacion-b','2004-Setiembre-26_La-Nacion','La-Nacion','2002-Abril-5_La-Nacion','2000-Octubre-6_La-Nacion','2000-Octubre-5_La-Nacion','1998-Setiembre-7_La-Nacion','1998-Setiembre-9-15_Semanario-Universidad','Julio-17_La-Nacion','1996-Agosto-22_Costa-Rica-Today','1993-Diciembre-16_Costa-Rica-Today']
        
        .vertical-boxes.left
        .vertical-boxes.right
        
        #swipe-left
        #swipe-right

        .swiper-container
          .swiper-wrapper
            each imgName, index in images
              .swiper-slide
                a(href='img/press/' + imgName + '.jpg', class='swipebox', title= imgName)
                  img(src='img/press/small/' + imgName + '_p.jpg')

      // Acerca de
      #Acerca.section

        +menu('#Acerca')

        // cuerpo del texto

        - var quotes = [{text: 'Uso de recursos naturales renovables, búsqueda de tecnologías adecuadas, diseño novedoso, reflexión científica sobre la intercompatibilidad de las materias y valorización del patrimonio cultural y de la biodiversidad es la síntesis alquímica lograda por Rodolfo Morales Rodríguez.', autor: 'Jean-Louis Sabatié' } ,{text: 'Diseñar para Morales, es una constante entre investigar, producir con la poesía que deriva de su sensibilidad y su pasión; esas piezas testimonian días y noches de redibujar en la mente los prototipos con variedad de enlaces, junturas, ajustes, acoples tratamientos, incrustaciones, soportes; lección de sacar el mejor provecho a lo que encuentra y con lo que construye su imaginario.', autor: 'Luis Fernando Quirós' } ,{text: 'Diseñador de muebles con vida propia, Rodolfo se ha convertido a sí mismo, por su intuición y tesón autodidactos, en un artista originalísimo que sabe que la historia le imprime a los seres, y a los objetos, su verdadera belleza.', autor: 'Aurelia Dobles' }]
        .logo
          p MUEBLES CONCEPTUALES
          img(src='img/rm.svg', width='249', height='59', alt='RM')
          p.big RODOLFO MORALES
        .body
          each quote in quotes
            p #{quote.text}
            p.credit #{quote.autor}

        // boton principal
          #about_message
            a.no-under.scroll(href='#galeria')
              #about_box.box
                p.call Galeria 
              object(id='about_arrow', data='img/about_arrow.svg', type='image/svg+xml', width='37', height='160')
                img(src='img/about_arrow.gif', alt='')

      #Exposiciones.section

        +menu('#Exposiciones')

        - var expoText = [{"year":"2010","events":["Gran premio Segunda Bienal de Diseño del mueble Universidad Veritas."]},{"year":"2008","events":["Museo del Diseño Euromobilia."]},{"year":"2007","events":["Dos Maderas /Dos visiones. Museo de Arte y Diserto Contemporáneo."]},{"year":"2005","events":["Uno ve lo que sabe. Centro Cultural de España","Bosque Mar, Punta Islita."]},{"year":"2003","events":["“Playing With Light and Shadow”, </br>Centro Cultural Costarricense Norteamericano. Conjunta con Loida Pretiz.","Primera Confrontación en el Arte 40 artistas 4 curadores, </br>Galería Nacional Museo de los Niños"]},{"year":"2002","events":["Concurso Kent Explora Espacios (Primer Lugar)"]},{"year":"2001","events":["Contrastes Alternativos. Embajada de Francia en CostaRica"]},{"year":"2000","events":["Bienal Internacional Diseño. Saint Etttenney Francia","Primera Feria Internacional de Artesanía (Fiapri). Puerto Rico.","Juegos de Luz y Sombra. Galería Sophia Wanamaker, </br>Centro Cultural Costarricense Norteamericano."]},{"year":"2001","events":["Contrastes Alternativos. Embajada de Francia en Costa Rica. </br>Múltiple Teorética Arte y Pensamiento. San José, Costa Rica.","28° Muestra Internacional de Artesanía de la Pontificia. </br>Universidad Católica de Chile, Santiago de Chile."]},{"year":"2000","events":["Biennale Internationale Design. Saint-Étienne, Francia.","1ª Feria Internacional de Artesanía (Fiapri 2000). Puerto Rico."]},{"year":"1998","events":["25º  Muestra Internacional de Artesanía de la Pontificia. </br>Universidad Católica de Chile, Santiago de Chile.","8º Muestra Iberoamericana de Artesanía de España y América. Tenerife, España."]},{"year":"1997","events":["Intro-Retro, lndividual Museo de Arte y Diseño Contemporáneo. San José, Costa Rica."]},{"year":"1996","events":["Individual, Galena de Arte José Figueres. </br>Retrospectiva de la Primera Década de la Galería. (1986-1996 colectiva)."]},{"year":"1994","events":["Participación en Washington Gift Show. Washington, USA."]},{"year":"1994","events":["Participación en Washington Gift Show,USA."]},{"year":"1993","events":["Museo de Arte y Artesanía Internacional en Taipéi </br>(selección de obras de los mejores artesanos a nivel mundial), República de China."]},{"year":"1992","events":["Exposición de Sevilla, España."]},{"year":"1991","events":["Hotel San José Palacio, en ocasión de la visita de los Reyes dé España."]}]

        .body
          h1 Exposiciones
          #expoBody
            each entry in expoText
              .table
                .caption #{entry.year}
                .description
                  each evnt in entry.events
                    p !{evnt}

      #Contacto.section

        +menu('#Contacto')

        form#contactForm.cmxform(action="contact-form.php", method="POST")
          input#sesion(name='sesion', type='hidden')
          .form
            h1 Contáctenos :
            label(for="name")
              span Nombre
              input#name.input_text(name='name', type='text', minlength="2", required)
              input#last(name='last', type='text')
            label(for="email")
              span E-mail
              input#email.input_text(name='email', type='email', required)
            label
              span Asunto
              input#subject.input_text(name='subject', type='text')
            label(for="message")
              span Mensaje
              textarea#message.message(name='message', required)
              input.button(value='Enviar', type='submit')

        .icons
          .icon
            img(src="img/facebook.gif", alt="facebook")
          .icon
            img(src="img/twitter.gif", alt="twitter")
          .icon
            img(src="img/phone.gif", alt="Telefonos")
            p TEL 2221 1210
            p FAX 2221 6413
          .icon
            img(src="img/location.gif", alt="Dirección")
            p Calle 7, avenidas 12 y 14.
            p San Jose, Paseo de los Estudiantes del BCR 100 mts oeste y 50 mts Sur.

    //.ow-overlay.ow-closed
    //.modal.ow-closed Hello, human!
    #Disponibles
      .b-close
      #content
        each item in galery_data
          if item.disp
            -var itemId = item.name.replace(/ /g, '_')
            div.table(id=itemId)
              .pic
                img.thumb(src="gallery/" + item.file)
              .desc
                h3 #{item.name}
                p #{item.mat}
                p #{item.dim}
                p.price Valor $#{item.price}
        

    script(type='text/javascript', src='js/jquery-1.10.2.min.js')
    script(type='text/javascript', src='js/jquery.easing.1.3.js')
    script(type='text/javascript', src='js/jquery.skitter.min.js')
    script(type='text/javascript', src='js/swiper-2.4.1.min.js')
    script(type='text/javascript', src='js/jquery.swipebox.js')
    script(type="text/javascript", src="js/scrolld.js")
    script(type="text/javascript", src="js/jquery.validate.js")
    script(type="text/javascript", src="js/perfect-scrollbar-0.4.8.with-mousewheel.min.js")
    script(type="text/javascript", src="js/jquery.bpopup.min.js")
    script(type='text/javascript', src='js/main.js')
    //script(type="text/javascript", src="js/jquery.omniwindow.js")
